<div class="row">
	<div class="span1 offset2">
		<% if !@prev_page.nil? %>
			<%= link_to '<',page_group_comments_url(group_id: @group.id, bookpage: @prev_page ), class: "btn btn-small btn-default"%>
		<% end %>
	</div>
	<div class="span1 offset6">
		<% if !@next_page.nil? %>
			<%= link_to '>',page_group_comments_url(group_id: @group.id, bookpage: @next_page ), class: "btn btn-small btn-default"%>
		<% end %>
	</div>
</div>

