<h1>Listing comments</h1>

<%= render 'show_comments', comments: @comments %>
<br>
<% @comment = @group.comments.build %>
<%= render 'form' %>
<!-- %= link_to 'New Comment', new_group_comment_path, class: "btn" % -->
<%= link_to 'Back to group page', group_path(@group.id) %>
